.preloader-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 1);
	z-index: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	#loader-svg {
		position: absolute;
		max-width: 66%;
		fill-opacity: 0;
		&.finished {
			.st0 {
				fill-opacity: 1 !important;
			}
		}
	}
}


.percentage {
	z-index: 100;
	border: 1px solid #ccc;
	text-align: center;
	color: darkgray;
	line-height: 30px;
	font-size: 15px;
}

.loader,
.percentage {
	height: 30px;
	max-width: 500px;
	border: 2px solid white;
	border-radius: 0px;
	font-weight: 300;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	@media screen and (max-width: 768px) {
		margin: auto 2rem;
	}
}

.loader:before, .percentage:before {
    content: "duplex studio";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    text-align: left;
    margin-top: -40px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.loader:after,
.percentage:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.trackbar {
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	opacity: 0.99;
}

.loadbar {
	width: 0%;
	height: 100%;
	background: white;
	/* Stripes Background Gradient */
	position: absolute;
	top: 0;
	left: 0;
	animation: flicker 5s infinite;
	overflow: hidden;
}

.glow {
	width: 0%;
	height: 0%;
	border-radius: 0px;
	box-shadow: 0px 0px 60px 10px #fff;
	position: absolute;
	bottom: 0px;
	animation: animation 5s infinite;
}

@keyframes animation {
	10% {
		opacity: 0.9;
	}

	30% {
		opacity: 0.86;
	}

	60% {
		opacity: 0.8;
	}

	80% {
		opacity: 0.75;
	}
}
