#mobile {
	.project--slide {
		.slick-slide {
			li {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

.full {
	background-size: cover;
	width: 100%;
	height: 100%;
}


.project--slide ul:not(.slick-initialized) {
	display: none !important;
}

section.project--slide .more {
	transition: 1s ease-out;
	&.loading {
		background-color: white;
	}
}
